In [1]:
import pandas as pd
course_name = ["Data Science", "Machine Learning", "Big Data", "Data Engineer"]
duration = [2,3,6,4]
df = pd.DataFrame(data = {"course_name": course_name, "duration" : duration})

In [2]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

#### Q1. Write a code to print the data present in the second row of the dataframe, df.

In [11]:
df[1:2]

        course_name  duration
0      Data Science         2
1  Machine Learning         3

#### Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In [ ]:
The main difference between the `loc` and `iloc` functions in a Pandas DataFrame lies in how they are used 
to access data:

- **`loc`**: It is label-based indexing, which means that you specify the index or row labels and column names to retrieve data. It is inclusive of both the start and stop indices.

  ```python
  df.loc[row_label, column_label]
  ```

- **`iloc`**: It is integer-location based indexing, where you specify the integer indices of the rows and columns to retrieve data. It is exclusive of the stop index.

  ```python
  df.iloc[row_index, column_index]
  ```

In summary, `loc` uses labels, and `iloc` uses integer indices for accessing data in a DataFrame.

#### Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

In [16]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [17]:
df1.loc[2]

column_1    0.353442
column_2    0.073757
column_3    0.239707
column_4    0.613984
column_5    0.034530
column_6    0.417322
Name: 2, dtype: float64

In [18]:
df1.iloc[2]

column_1    0.512251
column_2    0.788079
column_3    0.997459
column_4    0.339289
column_5    0.746585
column_6    0.099718
Name: 3, dtype: float64

In [19]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.641529  0.046839  0.897419  0.118628  0.377840  0.755355
2  0.353442  0.073757  0.239707  0.613984  0.034530  0.417322
3  0.512251  0.788079  0.997459  0.339289  0.746585  0.099718
4  0.526546  0.332432  0.643218  0.749464  0.833950  0.178513
5  0.368500  0.919444  0.338334  0.397041  0.742685  0.085098
6  0.419990  0.043308  0.758462  0.314141  0.307574  0.469323

In [ ]:
loc consider first value is 1 and iloc takes it has 0

#### Q4. Write a code to find the following statistical measurements for the above dataframe df1:

In [20]:
## (i) mean of each and every column present in the dataframe.
df1.mean()

column_1    0.470376
column_2    0.367310
column_3    0.645767
column_4    0.422091
column_5    0.507194
column_6    0.334221
dtype: float64

In [21]:
## (ii) standard deviation of column, ‘column_2’

df1["column_2"].std()

0.394199657424484

#### Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2. If you are getting errors in executing it then explain why. [Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [24]:
df1[["column_2"]]

   column_2
1  0.046839
2  0.073757
3  0.788079
4  0.332432
5  0.919444
6  0.043308

In [26]:
l = ["hii","kio","lio","sio","lioko"]
df1["column_2"].replace(l)

1    0.046839
2    0.073757
3    0.788079
4    0.332432
5    0.919444
6    0.043308
Name: column_2, dtype: float64

In [40]:
df1.iloc[1,l]

## .iloc requires numeric indexers, got ['hii' 'kio' 'lio' 'sio' 'lioko']

IndexError: .iloc requires numeric indexers, got ['hii' 'kio' 'lio' 'sio' 'lioko']

#### Q6. What do you understand about the windows function in pandas and list the types of windows functions?

In [ ]:
Window functions in Pandas, such as `rolling()` and `expanding()`, operate on subsets of data defined by a window. They are commonly used in time-series analysis. The main types include:

1. **Rolling Functions:**
   - Calculate statistics over a moving window, like `rolling().mean()`.

2. **Expanding Functions:**
   - Compute statistics for all data points up to the current point, like `expanding().sum()`.

3. **Exponential Moving Average (EMA):**
   - A weighted moving average, computed using `ewm()`.

#### Q7. Write a code to print only the current month and year at the time of answering this question. [Hint: Use pandas.datetime function]

In [49]:
from datetime import datetime

current_date = datetime.now()

current_to_date = pd.to_datetime(current_date)

current_month = current_to_date.month
current_year = current_to_date.year

print(current_month)
print(current_year)

11
2023

#### Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [50]:
import pandas as pd

def get_user_input():
    date1 = input("Enter the first date (YYYY-MM-DD): ")
    date2 = input("Enter the second date (YYYY-MM-DD): ")
    return date1, date2

def calculate_time_difference(date1, date2):
    # Convert the input strings to datetime objects
    date1 = pd.to_datetime(date1)
    date2 = pd.to_datetime(date2)

    # Calculate the time difference
    time_difference = date2 - date1

    # Extract days, hours, and minutes from the time difference
    days = time_difference.days
    hours, remainder = divmod(time_difference.seconds, 3600)
    minutes, _ = divmod(remainder, 60)

    return days, hours, minutes

def main():
    date1, date2 = get_user_input()
    
    try:
        days, hours, minutes = calculate_time_difference(date1, date2)
        print(f"\nTime difference: {days} days, {hours} hours, {minutes} minutes.")
    except ValueError:
        print("Invalid date format. Please use the format YYYY-MM-DD.")

if __name__ == "__main__":
    main()

Enter the first date (YYYY-MM-DD): 2022-02-20
Enter the second date (YYYY-MM-DD): 2022-03-20

Time difference: 28 days, 0 hours, 0 minutes.

#### Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd

def convert_to_categorical(file_path, column_name, category_order):
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)

    # Convert the specified column to categorical with the provided category order
    df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

    # Sort the DataFrame based on the specified column
    df = df.sort_values(by=[column_name])

    # Display the sorted DataFrame
    print(df)

# Prompt the user for input
file_path = input("Enter the file path: ")
column_name = input("Enter the column name to convert to categorical: ")
category_order = input("Enter the category order (comma-separated): ").split(',')

# Call the function with the provided inputs
convert_to_categorical(file_path, column_name, category_order)

#### Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

def visualize_sales_data(file_path):
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)

    # Assuming the DataFrame has columns like 'ProductCategory', 'Date', and 'Sales'
    # You may need to adjust these column names based on your actual data
    df['Date'] = pd.to_datetime(df['Date'])  # Convert the 'Date' column to datetime format

    # Pivot the data to create a DataFrame suitable for a stacked bar chart
    pivot_df = df.pivot_table(index='Date', columns='ProductCategory', values='Sales', aggfunc='sum')

    # Plotting the stacked bar chart
    pivot_df.plot(kind='bar', stacked=True, figsize=(10, 6))
    
    # Adding labels and title
    plt.xlabel('Date')
    plt.ylabel('Total Sales')
    plt.title('Stacked Bar Chart of Sales Over Time')

    # Show the plot
    plt.show()

# Prompt the user for input
file_path = input("Enter the file path of the CSV file: ")

# Call the function with the provided file path
visualize_sales_data(file_path)

#### Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.

In [1]:
import pandas as pd

def calculate_statistics(file_path):
    # Read the CSV file into a DataFrame
    data = pd.read_csv(file_path)

    # Calculate mean, median, and mode of the 'Test Score' column
    mean_score = data["Test Score"].mean()
    median_score = data["Test Score"].median()
    mode_score = data["Test Score"].mode()

    # Create a DataFrame to display the results
    summary_stats = pd.DataFrame({
        'Statistic': ['Mean', 'Median', 'Mode'],
        'Test Score': [mean_score, median_score, mode_score.iloc[0] if not mode_score.empty else 'No mode']
    })

    return summary_stats

# Provide the file path as an argument to the calculate_statistics function
file_path = r"C:\Users\ROHAN SUVARNA\OneDrive\Documents\Rohan Suvarna\student.csv"
summary_stats = calculate_statistics(file_path)

# Display the results in a table
print(summary_stats)

  Statistic  Test Score
0      Mean        83.5
1    Median        85.0
2      Mode        85.0